:host {
  display: block;
}

/* Add this to your global styles.css */
.multi-select-overlay {
  z-index: 1000000 !important;
}

.cdk-overlay-backdrop {
  z-index: 999999 !important;
}

.cdk-overlay-container {
  z-index: 1000000 !important;
}