<div class="px-6 py-8">
    <app-page-header 
        title="Mandal Registry" 
        subtitle="Manage and view all Mandals in the legislative assembly.">
        
        <div class="flex items-center gap-3">

            <app-generic-modal-button 
                [config]="addMandalConfig" 
                label="Add Mandal" 
                icon="+" 
                variant="primary"
                (formSubmit)="handleNewMember($event)">
            </app-generic-modal-button>
        </div>
    </app-page-header>

    <!-- Table Card Wrapper -->
    <div class="rounded-2xl border border-slate-200 bg-white shadow-sm p-1 lg:p-3 overflow-hidden">
        <app-generic-table 
            [data]="mandalList" 
            [columns]="columns" 
            [config]="config" 
            [actions]="actions"
            (actionClick)="handleAction($event)" 
            (selectionChange)="handleSelection($event)">
        </app-generic-table>
    </div>
</div>