<div class="h-screen p-6 flex flex-col overflow-hidden">
    <app-page-header title="Mandal Registration" subtitle="Manage and view all Mandals in the legislative assembly.">

        <div class="flex items-center gap-3">

            <app-generic-modal-button #mandalModal [config]="addMandalConfig" label="Add Mandal" icon="+"
                variant="primary" (formSubmit)="handleFormSubmit($event)">
            </app-generic-modal-button>
        </div>
    </app-page-header>

    <!-- Table Card Wrapper -->
    <div
        class="flex-1 min-h-0 rounded-2xl border border-slate-200 bg-white shadow-sm p-1 lg:p-3 overflow-hidden flex flex-col">
        <app-generic-table class="flex-1 min-h-0" [data]="mandalList" [columns]="columns" [config]="config"
            [actions]="actions" [totalItems]="totalCount" (actionClick)="handleAction($event)" 
            (pageChange)="handlePageChange($event)"
            (sortChange)="handleSortChange($event)"
            (searchChange)="handleSearchChange($event)"
            (selectionChange)="handleSelection($event)">
        </app-generic-table>
    </div>
</div>